GEMINI_API_KEY=
GPT2_API_URL=http://localhost:8000/predict
GEMINI_MODEL=gemini-2.5-flash
BATCH_SIZE=5
BATCH_DELAY=25  

# Threshold untuk rule-based classification
# HIGH_THRESHOLD: >= nilai ini = Judi Online (Default: 0.75)
# LOW_THRESHOLD: < nilai ini = Bukan Judi Online (Default: 0.50)
# Nilai diantara keduanya = Data Ambigu

HIGH_THRESHOLD=0.75
LOW_THRESHOLD=0.50
